  <section id="schedule">
    <%= image_tag "cloud_2.svg", alt: "Cloud 2 Mirrored", :class => "faq2 mirrorX" %>
    <%= image_tag "faq_bottom.svg", alt: "FAQ Bottom", :class => "faq-tail" %>

    <h1>Schedule</h1>

    <div class="wrap media-grid">
      <article>
        <h2>Friday</h2>
        <div class="schedule-item">
          <b>5:00PM</b> Registration opens
        </div>
        <div class="schedule-item">
          <b>6:30PM</b> Opening ceremony
        </div>
        <div class="schedule-item">
          <b>&nbsp;</b> <strong>Dinner</strong>
        </div>
        <div class="schedule-item">
          <b>8:00PM</b> Team building!
        </div>
        <div class="schedule-item">
          <b>8:30PM</b> Hacking begins
        </div>
        <div class="schedule-item">
          <b>8:30PM</b> API talks begin
        </div>
        <div class="schedule-item">
          <b>11:15PM</b> API talks end
        </div>
      </article>

      <article>
        <h2>Saturday</h2>
        <div class="schedule-item">
          <b>12:00AM</b> Registration closes
        </div>
        <div class="schedule-item">
          <b>&nbsp;</b> <strong>Breakfast</strong>
        </div>
        <div class="schedule-item">
          <b>10:00AM</b> Tech talks begin
        </div>
        <div class="schedule-item">
          <b>&nbsp;</b> <strong>Lunch</strong>
        </div>
        <div class="schedule-item">
          <b>1:00PM</b> Therapy dogs
        </div>
        <div class="schedule-item">
          <b>&nbsp;</b> <strong>Dinner</strong>
        </div>
        
      </article>

      <article>
        <h2>Sunday</h2>
        <div class="schedule-item">
          <b>12:00AM</b> Midnight snack
        </div>
        <div class="schedule-item">
          <b>12:30AM</b> Tech talks end
        </div>
        <div class="schedule-item">
          <b>&nbsp;</b> <strong>Breakfast</strong>
        </div>
        <div class="schedule-item">
          <b>7:30AM</b> Hacks submitted
        </div>
        <div class="schedule-item">
          <b>8:30AM</b> Hacking ends
        </div>
        <div class="schedule-item">
          <b>9:15AM</b> Expo &amp; judging begin
        </div>
        <div class="schedule-item">
          <b>&nbsp;</b> <strong>Brunch</strong>
        </div>
        <div class="schedule-item">
          <b>11:30AM</b> Closing ceremony
        </div>
      </article>
    </div>

    <div class="schedule-mountains"></div>

  </section>
  <section id="judges">

    <h1 class="full light">Judges</h1>

    <div id="judge-container">
      <div class="wrap media-grid">
        <article>
          <a href="https://www.msufcu.org/" target="_blank">
            <%= image_tag "judges/samantha_amburgey.png", alt: "Judge", :class => "judge-photo" %>
          </a>
          <h2 class="name">SAMANTHA<br> AMBURGEY</h2>
          <h3><a href="https://twitter.com/msufcu" target="_blank"><span class="at">@</span>msufcu</a></h3>
          <p>CIO of MSUFCU<br> University of Nevada</p>
        </article>
        <article>
          <a href="http://www.saurik.com/" target="_blank">
            <%= image_tag "judges/jay_freeman.png", alt: "Judge", :class => "judge-photo" %>
          </a>
          <h2 class="name">JAY<br> FREEMAN</h2>
          <h3><a href="https://twitter.com/saurik" target="_blank"><span class="at">@</span>saurik</a></h3>
          <p>Creator of Cydia<br> UC Santa Barbara</p>
        </article>
        <article>
          <a href="http://www.gravityworksdesign.com/about/jeff-mcwherter" target="_blank">
            <%= image_tag "judges/jeff_mcwherter.png", alt: "Judge", :class => "judge-photo" %>
          </a>
          <h2 class="name">JEFF<br> MCWHERTER</h2>
          <h3><a href="https://twitter.com/jmcw" target="_blank"><span class="at">@</span>jmcw</a></h3>
          <p>Partner at Gravity Works<br> Michigan State University</p>
        </article>
      <article>
          <a href="http://www.msu.edu/" target="_blank">
            <%= image_tag "judges/rob_mccurdy.png", alt: "Judge", :class => "judge-photo" %>
          </a>
          <h2 class="name">ROB<br> MCCURDY</h2>
          <h3><a href="https://twitter.com/McCurdy_Rob" target="_blank"><span class="at">@</span>mccurdy_rob</a></h3>
          <p>CSIO of MSU<br> Michigan State University</p>
        </article>
        <article>
          <a href="http://www.msu.edu/" target="_blank">
            <%= image_tag "judges/joanna_young.png", alt: "Judge", :class => "judge-photo" %>
          </a>
          <h2 class="name">JOANNA<br> YOUNG</h2>
          <h3><a href="https://twitter.com/jcycio" target="_blank"><span class="at">@</span>jcycio</a></h3>
          <p>CIO of MSU<br> University of New Hampshire</p>
        </article>
      </div>
    </div>
      <%= image_tag "sponsor_ship_sail.svg", alt: "Sponsor Boat", :class => "judges-boat wiggle" %>
    <div class="judges-waves"></div>

  </section>
  <section id="sponsors">

    <h1 class="full">Sponsors</h1>


<!--     <section id="gold">
      <div class="wrap media-grid">
        {%for i in goldSponsors%}
          <article class="gold">
            <a href="{{i.link}}">
              <img class="sponsor-logo" src="/static/img/logos/{{i.logo}}"/>
              <%= image_tag "sponsor_ship_sub.svg", alt: "Sponsor Ship", :class => "ship wiggle" %>
              <%= image_tag "waves_sub.svg", alt: "Sponsor Waves", :class => "waves" %>
            </a>
          </article>
        {%endfor%}
      </div>
    </section>

    <section id="silver">
      <div class="wrap media-grid">
        {%for i in silverSponsors%}
          <article class="silver">
            <a href="{{i.link}}">
              <img class="sponsor-logo" src="/static/img/logos/{{i.logo}}"/>
              <%= image_tag "sponsor_ship_sub.svg", alt: "Sponsor Ship", :class => "ship wiggle" %>
              <%= image_tag "waves_sub.svg", alt: "Sponsor Waves", :class => "waves" %>
            </a>
          </article>
        {%endfor%}
      </div>
    </section>

    <section id="bronze">
      <div class="wrap media-grid">
        {%for i in bronzeSponsors%}
          <article class="bronze">
            <a href="{{i.link}}">
              <img class="sponsor-logo" src="/static/img/logos/{{i.logo}}"/>
              <%= image_tag "sponsor_ship_sub.svg", alt: "Sponsor Ship", :class => "ship wiggle" %>
              <%= image_tag "waves_sub.svg", alt: "Sponsor Waves", :class => "waves" %>
            </a>
          </article>
        {%endfor%}
      </div>
    </section>

    <section id="sub">
      <div class="wrap media-grid">
        {%for i in subSponsors%}
          <article class="sub">
            <a href="{{i.link}}">
              <img class="sponsor-logo" src="/static/img/logos/{{i.logo}}"/>
              <%= image_tag "sponsor_ship_sub.svg", alt: "Sponsor Ship", :class => "ship wiggle" %>
              <%= image_tag "waves_sub.svg", alt: "Sponsor Waves", :class => "waves" %>
            </a>
          </article>
        {%endfor%}
      </div>
    </section> -->

  </section>