<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. This is the login page for the admin dashboard." />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />




        <title>SpartaHack</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "select2-modified" %>
        <%= stylesheet_link_tag  "//cdn.datatables.net/1.10.5/css/jquery.dataTables.css" %>
        <%= stylesheet_link_tag  "//cdn.datatables.net/colvis/1.1.1/css/dataTables.colVis.css" %>
        <%= stylesheet_link_tag "admin" %>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="header">
            <div class="navbar-nav left">
                <a href="/" class="anchorLink">
                  <div id="home-nav" class="svg-wrapper active">
                    <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape home" height="60" width="85" />
                    </svg>
                  </div>
                  <div class="text">2016</div>
                </a>
                <div id="admin-panel">Admin: Applications</div>
            </div>
            
            <div class="navbar-nav right">
               <div id="login-wrapper">
                    <a href="/admin">
                        <div id="login-nav" class="svg-wrapper">
                            <svg height="60" width="140" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape login" height="60" width="140" />
                            </svg>
                        </div>
                        <div class="text">ADMIN HOME</div>
                    </a>
                </div> 
                <div id="login-wrapper">
                    <a href="/logout">
                        <div id="login-nav" class="svg-wrapper">
                            <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape login" height="60" width="110" />
                            </svg>
                        </div>
                        <div class="text">LOG OUT</div>
                    </a>
                </div>  
            </div>


            <nav>
                <ul class="mobile">
                    <li><a href="/" class="anchorLink">HOME</a></li>
                    <li><a href="/admin" class="anchorLink">ADMIN HOME</a></li>
                    <li><a href="/logout" class="anchorLink">LOG OUT</a></li>
                </ul>
                <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
            </nav>
        </div>

		<section id="applications">
          <div id="popup-wrapper">
            <div id="popup"></div>
          </div>
			<div class="row">
            
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                    <thead>
                        <tr>
                            <th id="number">#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Status</th>
                            <th id="created">Created</th>
                            <th>Gender</th>
                            <th>Birth Month</th>
                            <th>Birth Day</th>
                            <th>Birth Year</th>
                            <th>University Student</th>
                            <th id="university">University</th>
                            <th>Other University</th>
                            <th id="major">Major</th>
                            <th>Grade Level</th>
                            <th id="hackathons">Hackathons</th>
                            <th id="whyAttend">Why Attend</th>
                            <th>Github</th>
                            <th>LinkedIn</th>
                            <th>DevPost</th>
                            <th>Personal Website</th>
                            <th>Cool Link</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @apps.each_with_index do |app, index|  %>
                        <tr>
                            <td><%= index.to_i + 1 %></td>
                            <td><%= app['firstName'] %></td>
                            <td><%= app['lastName'] %></td>
                            <td id=<%= index.to_i + 1 %> >
                                <%= form_tag("/admipplications/status", :remote => true, :authenticity_token => true, class: "status") do %>
                                    <%= hidden_field_tag 'object' , app["objectId"]  %>  
                                    <%= select_tag "status-select", options_for_select([["-", ""], ["Accepted", "Accepted"], ["Waitlisted", "Waitlisted"], ["Denied", "Denied"]], selected: "#{app['status']}"), class: "status-select" %>
                                <% end %>
                            </td>
                            <td><%= app['createdAt'] %></td>
                            <td><%= app['gender'] %></td>
                            <td><%= app['birthmonth'] %></td>
                            <td><%= app['birthday'] %></td>
                            <td><%= app['birthyear'] %></td>
                            <td><%= app['universityStudent'] %></td>
                            <td><%= !app['university'].blank? ? app['university'] : "" %></td>
                            <td><%= !app['otherUniversity'].blank? ? app['otherUniversity'] : "" %></td>
                            <td><%= !app['major'].blank? ? app['major'].join(", ") : "" %></td>
                            <td><%= !app['gradeLevel'].blank? ? app['gradeLevel'] : "" %></td>
                            <td><%= !app['hackathons'].blank? ? app['hackathons'].join(", ") : "" %></td>
                            <td><%= !app['whyAttend'].blank? ? app['whyAttend'] : "" %></td>
                            <td>
                                <a target="_blank" href=
                                    <% if !app['github'].blank? %>
                                        <% if app['github'].index("http://").blank? && app['github'].index("https://").blank? && app['github'].index(".com").blank? %>
                                            <%= "https://github.com/#{app['github']}" %>
                                        <% elsif app['github'].index("http://").blank? && app['github'].index("https://").blank? %>
                                            <%= "https://#{app['github']}" %>
                                        <% else %>
                                            <%= "#{app['github']}" %>
                                        <% end %>
                                    <% else %>
                                        <%= "#" %>
                                    <% end %> > <%= !app['github'].blank? ? app['github'] : "" %> 
                                </a>
                            </td>

                            <td>
                                <a target="_blank" href=
                                    <% if !app['linkedIn'].blank? %>
                                        <% if app['linkedIn'].index("http://").blank? && app['linkedIn'].index("https://").blank? && app['linkedIn'].index(".com").blank? %>
                                            <%= "https://linkedin.com/in/#{app['linkedIn']}" %>
                                        <% elsif app['linkedIn'].index("http://").blank? && app['linkedIn'].index("https://").blank? %>
                                            <%= "https://#{app['linkedIn']}" %>
                                        <% else %>
                                            <%= "#{app['linkedIn']}" %>
                                        <% end %>
                                    <% else %>
                                        <%= "#" %>
                                    <% end %> > <%= !app['linkedIn'].blank? ? app['linkedIn'] : "" %> 
                                </a>
                            </td>

                            <td>
                                <a target="_blank" href=
                                    <% if !app['devPost'].blank? %>
                                        <% if app['devPost'].index("http://").blank? && app['devPost'].index("https://").blank? && app['devPost'].index(".com").blank? %>
                                            <%= "http://devpost.com/#{app['devPost']}" %>
                                        <% elsif app['devPost'].index("http://").blank? && app['devPost'].index("https://").blank? %>
                                            <%= "http://#{app['devPost']}" %>
                                        <% else %>
                                            <%= "#{app['devPost']}" %>
                                        <% end %>
                                    <% else %>
                                        <%= "#" %>
                                    <% end %> > <%= !app['devPost'].blank? ? !app['devPost'].index('?').blank? ? app['devPost'].slice(0..(app['devPost'].index('?')-1)) : app['devPost'] : "" %> 
                                </a>
                            </td>

                            <td><a target="_blank" href=<%= !app['website'].blank? ? app['website'].index("http://").blank? && app['website'].index("https://").blank? ? "http://#{app['website']}" : app['website'] : "#" %> ><%= !app['website'].blank? ? app['website'] : "" %></a></td>
                            <td><a target="_blank" href=<%= !app['coolLink'].blank? ? app['coolLink'].index("http://").blank? && app['coolLink'].index("https://").blank? ? "http://#{app['coolLink']}" : app['coolLink'] : "#" %> ><%= !app['coolLink'].blank? ? app['coolLink'] : "" %></a></td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>
                <div id="multi-wrapper">
                    <%= form_tag("/", class: "multi-set") do %>
                         <%= text_field_tag 'start', "", placeholder: 'Start #' %>
                         <div>to</div>
                         <%= text_field_tag 'end', "", placeholder: 'End #' %>
                        <%= select_tag "status-multi", options_for_select(["", "Accepted", "Waitlisted", "Denied"]), class: "status-multi" %>
                    <% end %>  

                    <div>* Page will refresh on completion.</div>  
                </div>

			</div>
        </section>

        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %> 

        <%= javascript_include_tag "//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" %>
        <%= javascript_include_tag "//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js" %>
        <%= javascript_include_tag "//cdn.datatables.net/fixedcolumns/3.2.0/js/dataTables.fixedColumns.min.js" %>
        <%= javascript_include_tag "//cdn.datatables.net/colreorder/1.1.2/js/dataTables.colReorder.min.js" %>
        <%= javascript_include_tag "//cdn.datatables.net/colvis/1.1.1/js/dataTables.colVis.min.js" %>
        <%= javascript_include_tag "select2.full.min" %>  
        <%= javascript_include_tag "admin-apps" %>
    </body>
</html>   