<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. This is the sponsorship dashboard." />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />




        <title>SpartaHack</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "select2-modified" %>
        <%= stylesheet_link_tag "admin" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="header">
            <div class="navbar-nav left">
                <a href="/" class="anchorLink">
                  <div id="home-nav" class="svg-wrapper active">
                    <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape home" height="60" width="85" />
                    </svg>
                  </div>
                  <div class="text">2016</div>
                </a>
                <div id="admin-panel">Admin: Sponsorship</div>
            </div>
            
            <div class="navbar-nav right">
                <div id="login-wrapper">
                    <a href="/logout">
                        <div id="login-nav" class="svg-wrapper">
                            <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape login" height="60" width="110" />
                            </svg>
                        </div>
                        <div class="text">LOG OUT</div>
                    </a>
                </div>  
            </div>


            <nav>
                <ul class="mobile">
                    <li><a href="/" class="anchorLink">HOME</a></li>
                    <li><a href="/logout" class="anchorLink">LOG OUT</a></li>
                </ul>
                <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
            </nav>
        </div>

        <div class="wrap-main">
			<section id="sponsorship">
				<div class="row">
					<h1 class="section-head">ADD SPONSOR</h1> 

					<%= form_tag({action: :addsponsor}, multipart: true) do %>
						<div class="inner-wrap">
							<div>
								<div id="outer-wrap">
									<%= label_tag(:name, "Sponsor Name", class: 'no-label') %>
									<%= text_field_tag 'name', nil , placeholder: 'Company Name' %>

									<select id="level" name="level">
										<option disabled selected></option>
										<option value="partner">Partner</option>
										<option value="trainee">Trainee</option>
										<option value="warrior">Warrior</option>
										<option value="commander">Commander</option>
									</select>
								</div>

								<div id="url-wrap">
									<%= label_tag(:url, "Website Url", class: 'no-label') %>
									<%= text_field_tag 'url', nil , placeholder: 'Website URL' %>	
								</div>
							</div>	

			               	<div class="thumbnail"> 				
			               		<%= image_tag "company-logo.svg", alt: "Image Preview", :id => "img_prev" %>
								<div class="form-group-file">				        
									<%= file_field_tag 'picture', :onchange => 'readURL(this);' %>
								</div>
							</div>					
						</div>


						<div class="hvr-underline-from-center full">
							<%= submit_tag "Submit", id: "addsponsor" %>
						</div>
					<% end %>
				</div>

				<div class="row">
					<h1 class="section-head">EDIT SPONSOR</h1> 
						<div id="sponsor-wrap">
					      <% @sponsors.each do |sponsor|  %>
				        	<%= form_tag({action: :viewsponsor}, multipart: true) do %>
				        		<%= hidden_field_tag 'object' , sponsor[0]  %>	
				            	<%= submit_tag sponsor[1], id: "viewsponsor" %>
				            <% end %>

					      <% end %>
						</div>

				</div>
			</section>
        </div>

        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %>
    	<%= javascript_include_tag "select2.full.min" %>	
        <%= javascript_include_tag "sponsorship" %>
    </body>
</html>        