<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. This is the page for the admin dashboard." />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />

        <title>SpartaStats</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "select2-modified" %>
        <%= stylesheet_link_tag "admin" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="header">
            <div class="navbar-nav left">
                <a href="/" class="anchorLink">
                  <div id="home-nav" class="svg-wrapper active">
                    <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape home" height="60" width="85" />
                    </svg>
                  </div>
                  <div class="text">2016</div>
                </a>
                <div id="admin-panel">Admin</div>
            </div>
            
            <div class="navbar-nav right">
                <div id="app-wrapper">
                    <a href="/admin">
                      <div id="admin-nav" class="svg-wrapper">
                        <svg height="60" width="188" xmlns="http://www.w3.org/2000/svg">
                          <rect class="shape mobile-nav" height="60" width="188" />
                        </svg>
                      </div>
                      <div class="text">ADMIN DASHBOARD</div>
                    </a>
                </div>
                <div id="login-wrapper">
                    <a href="/logout">
                        <div id="login-nav" class="svg-wrapper">
                            <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape login" height="60" width="110" />
                            </svg>
                        </div>
                        <div class="text">LOG OUT</div>
                    </a>
                </div>  
            </div>


            <nav>
                <ul class="mobile">
                    <li><a href="/" class="anchorLink">HOME</a></li>
                    <li><a href="/admin" class="anchorLink">ADMIN DASHBOARD</a></li>
                    <li><a href="/logout" class="anchorLink">LOG OUT</a></li>
                </ul>
                <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
            </nav>
        </div>

        <div class="wrap-main">

            <section id="stats">

                <p class="tablefooter">
                    <strong>
                        <%= @total_apps %> Applications <br>
                        <%= @uni_applicants.length %> Schools <br>
                        <%= @rsvp_attending_count %> Attending <br>
                        <!-- show rsvp false by default -->
                    </strong>
                </p>

                <div class="wrap">

                    <div class="row">
                        <div class="center">
                            <h1 class="section-head">Statistics</h1>
                        </div>
                    </div>
                    <div class="row center">
                        Show RSVPs
                        <div>
                            <div style="justify-content: flex-end;">
                                <label><input type="checkbox" class="ios-switch bigswitch" unchecked /><div><div></div></div></label>
                            </div>
                        </div>
                    </div>

                    <%= render partial: "admin/stats/rsvp_stats" %>

                    <%= render partial: "admin/stats/application_stats" %>

                    <br><br>
                </div>
            </section>

        </div>

        <span id="rsvp-status">false</span>
        <!-- Load ruby variables into javascript arrays -->
        <!-- $('.data_gender_count').data('temp') -->
        <%= content_tag :div, class: "data_gender_count", data: {temp: @apps["gender_count"]} do %>
        <% end %>
        <%= content_tag :div, class: "data_age_count", data: {temp: @apps["age_count"]} do %>
        <% end %>
        <%= content_tag :div, class: "data_grade_count", data: {temp: @apps["uni_grade_count"]} do %>
        <% end %>
        <%= content_tag :div, class: "data_hackathon_count", data: {temp: @apps["hackathons_count"]} do %>
        <% end %>
        <%= content_tag :div, class: "data_common_words", data: {temp: @apps["common_words"]} do %>
        <% end %>
        <%= content_tag :div, class: "data_submission_dates", data: {temp: @apps["submission_array"]} do %>
        <% end %>
        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %>
    	<%= javascript_include_tag "select2.full.min" %>	
        <%= javascript_include_tag "d3.min.js" %>
        <%= javascript_include_tag "jqcloud.min.js" %>
        <%= javascript_include_tag "stats" %>
    </body>
</html>        