<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. This is the page for the admin dashboard." />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />

        <title>SpartaStats</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "select2-modified" %>
        <%= stylesheet_link_tag "admin" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="header">
            <div class="navbar-nav left">
                <a href="/" class="anchorLink">
                  <div id="home-nav" class="svg-wrapper active">
                    <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape home" height="60" width="85" />
                    </svg>
                  </div>
                  <div class="text">2016</div>
                </a>
                <div id="admin-panel">Admin</div>
            </div>
            
            <div class="navbar-nav right">
                <div id="login-wrapper">
                    <a href="/logout">
                        <div id="login-nav" class="svg-wrapper">
                            <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape login" height="60" width="110" />
                            </svg>
                        </div>
                        <div class="text">LOG OUT</div>
                    </a>
                </div>  
            </div>


            <nav>
                <ul class="mobile">
                    <li><a href="/" class="anchorLink">HOME</a></li>
                    <li><a href="/logout" class="anchorLink">LOG OUT</a></li>
                </ul>
                <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
            </nav>
        </div>

        <div class="wrap-main">

            <section id="stats">

                <p class="tablefooter">
                    <%= @total_apps %> Applications <br>
                </p>

                <div class="wrap">

                    <div class="row">
                        <h1 class="section-head">Statistics</h1> 
                    </div>

                    <div class="column">
                        <article>
                            <div>
                                <h2 class="center">Gender</h2>
                                <div class="horizontal-bar-graph" id="gender-graph"></div>
                                <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>University</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @gender_count.each_with_index do |gender_count, index|  %>
                                    <tr>
                                        <td><%= gender_count[0] %></td>
                                        <td><%= gender_count[1] %> or <%= number_to_percentage(100*(gender_count[1].to_f / @total_apps )) %></td>
                                    </tr>
                                    <% end %>
                                </tbody>

                            </table>
                            </div>
                            <div>
                                <h2 class="center">Grade Level</h2>
                                <div class="horizontal-bar-graph" id="grade-graph"></div>

                                <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Grade</th>
                                            <th>Percent</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% @grade_count.each_with_index do |grade_count, index|  %>
                                                <tr>
                                                    <td><%= grade_count[0] %></td>
                                                    <td><%= number_to_percentage(100*grade_count[1].to_f / @grade_count.inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                                                </tr>
                                        <% end %>
                                    </tbody>

                                </table>


                            </div>
                        </article>

                        <article>
                            <h2 class="center">Age</h2>
                            <div id="age-graph">
                            </div>
                            <div class="row">
                                <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Age</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% @age_count.each_with_index do |age_count, index|  %>
                                            <% if @curr_year - age_count[0].to_i < 21 %>
                                                <tr>
                                                    <td class="minorhighlight"><%= @curr_year - age_count[0].to_i %>
                                                    </td>
                                                    <td class="minorhighlight"><%= age_count[1] %>
                                                        or <%= number_to_percentage(100* age_count[1].to_f / @total_apps.to_f, precision: 1) %>
                                                    </td>
                                                </tr>
                                            <% else %>
                                                <tr>
                                                    <td><%= @curr_year - age_count[0].to_i %></td>
                                                    <td><%= age_count[1] %>
                                                        or <%= number_to_percentage(100* age_count[1].to_f / @total_apps.to_f, precision: 1) %>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        <% end %>
                                    </tbody>

                                </table>
                                <p class="">
                                    There are <%= @minor_count %> minors, which make up <%= number_to_percentage(100*@minor_count.to_f / @age_count.inject(0){|sum,e| sum += e[1] }, precision: 1) %> of attendees.
                                    <br>There are <%= @adult_count %> adults, which make up <%= number_to_percentage(100*@adult_count.to_f / @age_count.inject(0){|sum,e| sum += e[1] }, precision: 1) %> of attendees.
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="column">
                        <article>
                            <h2 class="center">Universities</h2>
                            <div class="horizontal-bar-graph" id="university-graph"></div>
                            <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>University</th>
                                        <th>Count</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @uni_applicants[0..20].each_with_index do |uni_applicants, index|  %>
                                    <tr>
                                        <td><%= uni_applicants[0] %></td>
                                        <td><%= uni_applicants[1] %> or <%= number_to_percentage(100*(uni_applicants[1].to_f / @uni_applicants.inject(0){|sum,e| sum += e[1]}), precision: 1) %></td>
                                    </tr>
                                    <% end %>
                                </tbody>

                            </table>
                            <div class="tablefooter">
                                    *Top 20
                            </div>

                        </article>

                        <article>
                            <h2 class="center">Majors</h2>
                            <div class="horizontal-bar-graph" id="major-graph"></div>
                            <div class="row">
                                <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                                    <thead>
                                        <tr>
                                            <th>Major</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% @major_count[0..20].each_with_index do |major_count, index|  %>
                                        <tr>
                                            <td><%= major_count[0].join(",") %></td>
                                            <td><%= major_count[1] %> or <%= number_to_percentage(100*major_count[1].to_f / @major_count.inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>

                                </table>
                                <div class="tablefooter">
                                    *Top 20
                                </div>
                            </div>

                        </article>
                    </div>

                    <h2 class="center">Number of Hackathons Attended</h2>
                    <div class="column">
                        <article>
                            <table id="my-final-table" class="display dataTable" cellspacing="0" width="100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>Frequency</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <% @hackathons_count.each_with_index do |hackathons_count, index|  %>
                                            <tr>
                                                <td><%= hackathons_count[0] %></td>
                                                <td><%= number_to_percentage(100*hackathons_count[1].to_f / @hackathons_count.inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                                            </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </article>

                        <article>
                            <div class="horizontal-bar-graph" id="hackathon-graph"></div>
                        </article>
                    </div>

                    <div class="row wordmap">
                        <br><br><br><br><br><br><br>
                        <div class="center">
                            <div id="example" style="width: 800px; height: 400px;"></div>
                        </div>
                        <br><br><br><br><br><br><br>
                    </div>

                    <div class="row">
                        <h2 class="center">Daily Number of Applications</h2>
                        <div id="applications-graph">
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <!-- Load ruby variables into javascript arrays -->
        <!-- $('.data_gender_count').data('temp') -->
        <%= content_tag :div, class: "data_gender_count", data: {temp: @gender_count} do %>
        <% end %>
        <%= content_tag :div, class: "data_age_count", data: {temp: @age_count} do %>
        <% end %>
        <%= content_tag :div, class: "data_grade_count", data: {temp: @grade_count} do %>
        <% end %>
        <%= content_tag :div, class: "data_hackathon_count", data: {temp: @hackathons_count} do %>
        <% end %>
        <%= content_tag :div, class: "data_common_words", data: {temp: @common_words} do %>
        <% end %>
        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %>
    	<%= javascript_include_tag "select2.full.min" %>	
        <%= javascript_include_tag "admin" %>
        <%= javascript_include_tag "d3.min.js" %>
        <%= javascript_include_tag "jqcloud.min.js" %>
        <%= javascript_include_tag "stats" %>
    </body>
</html>        