<div id="app-stats">
    <div class="column">
        <article>
            <div>
                <div class="title-wrap">
                  <h1 class="section-head">Gender</h1>
                  <div class="hline"></div>
                </div>
                <div class="horizontal-bar-graph" id="apps-gender-graph"></div>
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Gender</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    <% @apps["gender_count"].each_with_index do |gender_count, index|  %>
                    <tr>
                        <td><%= gender_count[0] %></td>
                        <td><%= gender_count[1] %> or <%= number_to_percentage(100*(gender_count[1].to_f / @total_apps ),precision: 1) %></td>
                    </tr>
                    <% end %>
                </tbody>

            </table>
            </div>
        </article>

        <article>
            <div class="title-wrap">
              <h1 class="section-head">Age</h1>
              <div class="hline"></div>
            </div>
            <div id="apps-age-graph">
            </div>
            <div class="row">
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                    <thead>
                        <tr>
                            <th>Age</th>
                            <th>Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @apps["age_count"].each_with_index do |age_count, index|  %>
                            <% if age_count[0] < 18 %>
                                <tr>
                                    <td class="minorhighlight"><%= age_count[0].to_i %>
                                    </td>
                                    <td class="minorhighlight"><%= age_count[1] %>
                                        or <%= number_to_percentage(100* age_count[1].to_f / @total_apps.to_f, precision: 1) %>
                                    </td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= age_count[0].to_i %></td>
                                    <td><%= age_count[1] %>
                                        or <%= number_to_percentage(100* age_count[1].to_f / @total_apps.to_f, precision: 1) %>
                                    </td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>

                </table>
                <p class="">
                    There are <strong><%= @apps["minor_count"] %> minors</strong>, which make up <strong><%= number_to_percentage(100*@apps["minor_count"].to_f / @apps["age_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></strong> of attendees.
                    <br>There are <strong><%= @apps["adult_count"] %> adults</strong>, which make up <strong><%= number_to_percentage(100*@apps["adult_count"].to_f / @apps["age_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></strong> of attendees.
                </p>
            </div>
        </article>
    </div>

    <div class="column">
        <article>
            <div class="title-wrap">
              <h1 class="section-head">Universities</h1>
              <div class="hline"></div>
            </div>
            <div class="horizontal-bar-graph" id="apps-university-graph"></div>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>University</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    <% @apps["uni_applicants"][0..20].each_with_index do |uni_applicants, index|  %>
                    <tr>
                        <td><%= uni_applicants[0] %></td>
                        <td><%= uni_applicants[1] %> or <%= number_to_percentage(100*(uni_applicants[1].to_f / @apps["uni_applicants"].inject(0){|sum,e| sum += e[1]}), precision: 1) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="tablefooter">
                *top 20
            </div>
            <p>There are <strong><%= @apps["international_count"] %> international students</strong>, which make up <strong><%= number_to_percentage(100*(@apps["international_count"].to_f / @apps["uni_applicants"].inject(0){|sum,e| sum += e[1]}), precision: 1) %></strong> of applicants.</p>

        </article>

        <article>
            <div class="title-wrap">
              <h1 class="section-head">Majors</h1>
              <div class="hline"></div>
            </div>
            <div class="horizontal-bar-graph" id="apps-major-graph"></div>
            <div class="row">
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                    <thead>
                        <tr>
                            <th>Major</th>
                            <th>Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @apps["major_count"].each_with_index do |major_count, index|  %>
                        <tr>
                            <td><%= major_count[0] %></td>
                            <td><%= major_count[1] %> or <%= number_to_percentage(100*major_count[1].to_f / @total_apps, precision: 1) %></td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>
            </div>

        </article>
    </div>

    <div class="title-wrap">
      <h1 class="section-head">Grade Level</h1>
      <div class="hline"></div>
    </div>
    <div class="column">
        <article>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Percent</th>
                    </tr>
                </thead>
                <tbody>
                    <% @apps["uni_grade_count"].each_with_index do |uni_grade_count, index|  %>
                        <tr>
                            <td><%= uni_grade_count[0] %></td>
                            <td><%= uni_grade_count[1] %> or <%= number_to_percentage(100*uni_grade_count[1].to_f / @apps["uni_grade_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </article>

        <article>
            <div class="horizontal-bar-graph" id="apps-grade-graph"></div>
        </article>
    </div>

    <br>

    <div class="title-wrap">
      <h1 class="section-head">Number of Hackathons Attended</h1>
      <div class="hline"></div>
    </div>
    <div class="column">
        <article>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Frequency</th>
                    </tr>
                </thead>

                <tbody>
                    <% @apps["hackathons_count"].each_with_index do |hackathons_count, index|  %>
                        <tr>
                            <td><%= hackathons_count[0] %></td>
                            <td><%= hackathons_count[1] %> or <%= number_to_percentage(100*hackathons_count[1].to_f / @apps["hackathons_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <p>The most popular Hackathon was <strong><%= @apps["hackathons_attended"][0][0] %></strong>, listed in <strong><%= @apps["hackathons_attended"][0][1] %></strong> applications.</p> 
        </article>

        <article>
            <div class="horizontal-bar-graph" id="apps-hackathon-graph"></div>
        </article>
    </div>

    <div class="row">
        <br><br><br><br>
        <div class="title-wrap">
          <h1 class="section-head">Random Reasons For Attending</h1>
          <div class="hline"></div>
        </div>
        <div class="column">
            <article>
                <p><%= @apps["random_reason"][0][0] %></p>
                <p>-<%= @apps["random_reason"][0][1] %> <%= @random_reason[0][2] %></p>
            </article>
            <article>
                <p><%= @apps["random_reason"][1][0] %></p>
                <p>-<%= @apps["random_reason"][1][1] %> <%= @random_reason[1][2] %></p>
            </article>
        </div>
        <div class="column">
            <article>
                <p><%= @apps["random_reason"][2][0] %></p>
                <p>-<%= @apps["random_reason"][2][1] %> <%= @random_reason[3][2] %></p>
            </article>
            <article>
                <p><%= @apps["random_reason"][3][0] %></p>
                <p>-<%= @apps["random_reason"][3][1] %> <%= @random_reason[3][2] %></p>
            </article>
        </div>
    </div>

    <div class="row wordmap">
        <br><br><br><br>
        <div class="center">
            <div id="apps-wordcloud" style="width: 100%; height: 600px;"></div>
        </div>
        <br><br><br><br><br><br><br>
    </div>

    <div class="row" id="hide-on-mobile">
        <div class="title-wrap">
          <h1 class="section-head">Daily Number of Applications</h1>
          <div class="hline"></div>
        </div>
        <div class="center" id="apps-submissions-graph">
        </div>
    </div>
</div>

<!-- Let's load ruby variables into js because Noah likes to live dangerously -->
<%= content_tag :div, class: "apps_data_gender_count", data: {temp: @apps["gender_count"]} do %>
<% end %>
<%= content_tag :div, class: "apps_data_age_count", data: {temp: @apps["age_count"]} do %>
<% end %>
<%= content_tag :div, class: "apps_data_grade_count", data: {temp: @apps["uni_grade_count"]} do %>
<% end %>
<%= content_tag :div, class: "apps_data_hackathon_count", data: {temp: @apps["hackathons_count"]} do %>
<% end %>
<%= content_tag :div, class: "apps_data_common_words", data: {temp: @apps["common_words"]} do %>
<% end %>
<%= content_tag :div, class: "apps_data_submission_dates", data: {temp: @apps["submission_array"]} do %>
<% end %>
