<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>
        <title>SpartaHack II Application</title>
        <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" %>
        <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js" %>
        <%= javascript_include_tag "users" %>

    
    </head>
    <style>
      #gender{
        width: 150px;
      }
      #gradeLevel {
        width: 175px;
      }
    </style>
    <body>
        <div><%= @cook %></div>
        <%= form_tag("/save", method: "post", id: "save_app", class: "save_app") do %>
          <div>
            <%= label_tag(:firstName, "First Name:") %>
            <%= text_field_tag 'firstName', "#{@application[0]['firstName'] if @application[0]}" %>
          </div>
          <div>
            <%= label_tag(:lastName, "Last Name:") %>
            <%= text_field_tag 'lastName', "#{@application[0]['lastName'] if @application[0]}" %>
          </div>
          <div>
            <%= label_tag(:dob, "What is your gender?") %>
            <select id="gender" name="gender">
               <option></option>
               <option value="male">Male</option>
               <option value="female">Female</option>
               <option value="non-binary">Non-Binary</option>
            </select>
          </div>
          <div>
            <%= label_tag(:dob, "Date of Birth:") %>
            <input id="dob" name="dob" type="date" min="1950-01-01" max="2002-12-31" value=<%= "#{@application[0]['dob'] if @application[0]}" %> />
          </div>
          <div>
            <%= check_box_tag "firstHackathon", 1, @application[0]['firstHackathon'] if @application[0] %>
            <%= label_tag(:firstHackathon, "Is this your first hackathon?") %>
          </div>
          <div>
            <%= label_tag(:university, "What university do you attend?") %>
            <%= render partial: "users/app_university" %>
          </div>
          <div>
            <%= label_tag(:gradeLevel, "What year of school are you in?") %>
            <select id="gradeLevel" name="gradeLevel">
              <option></option>
              <option>Freshman</option>
              <option>Sophomore</option>
              <option>Junior</option>
              <option>Senior</option>
              <option>Fifth Year +</option>
            </select>
          </div>
          <div>
            <%= label_tag(:github, "What's your github?") %>
            <%= text_field_tag 'github', "#{@application[0]['github'] if @application[0]}" %>
          </div>
          <div>
            <%= label_tag(:linkedIn, "What about a linkedin?") %>
            <%= text_field_tag 'linkedIn', "#{@application[0]['linkedIn'] if @application[0]}" %>
          </div>
          <div>
            <%= label_tag(:website, "And your personal website?") %>
            <%= text_field_tag 'website', "#{@application[0]['website'] if @application[0]}" %>
          </div>
          <div>
            <%= label_tag(:favProj, "What's your favorite project?") %>
            <%= text_field_tag 'favProj', "#{@application[0]['favProj'] if @application[0]}" %>
          </div>
          <%= submit_tag("Save Application") %>
        <% end %>

    </body>
         <%= javascript_tag do %>
          $("#university").val("<%= @application[0]['university'] if @application[0] %>").trigger("change")
          $("#gradeLevel").val("<%= @application[0]['gradeLevel'] if @application[0] %>").trigger("change")
          $("#gender").val("<%= @application[0]['gender'] if @application[0] %>").trigger("change")
        <% end %>   
</html>
