<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. This is the page for the user dashboard." />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />




        <title>SpartaHack</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "users" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="header">
            <div class="navbar-nav left">
                <a href="/" class="anchorLink">
                  <div id="home-nav" class="svg-wrapper active">
                    <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape home" height="60" width="85" />
                    </svg>
                  </div>
                  <div class="text">2016</div>
                </a>
                <div id="name"><%= @application['firstName'] %></div>
            </div>
            
            <div class="navbar-nav right">
            <% if cookies.signed[:spartaUser][1] == "admin" || cookies.signed[:spartaUser][1] == "sponsorship" || cookies.signed[:spartaUser][1] == "statistics" %>
                <div id="app-wrapper">
                    <a href="/admin">
                      <div id="admin-nav" class="svg-wrapper">
                        <svg height="60" width="188" xmlns="http://www.w3.org/2000/svg">
                          <rect class="shape mobile-nav" height="60" width="188" />
                        </svg>
                      </div>
                      <div class="text">ADMIN DASHBOARD</div>
                    </a>
                </div>
            <% end %>
                <div id="login-wrapper">
                    <a href="/logout">
                        <div id="login-nav" class="svg-wrapper">
                            <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape login" height="60" width="110" />
                            </svg>
                        </div>
                        <div class="text">LOG OUT</div>
                    </a>
                </div>  
            </div>


            <nav>
                <ul class="mobile">
                  <li><a href="/" class="anchorLink">HOME</a></li>
            <% if cookies.signed[:spartaUser][1] == "admin" || cookies.signed[:spartaUser][1] == "sponsorship" || cookies.signed[:spartaUser][1] == "statistics" %>
                  <li><a href="/admin" class="anchorLink">ADMIN DASHBOARD</a></li>
            <% end %>
                  <li><a href="/logout" class="anchorLink">LOG OUT</a></li>
                </ul>
                <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
            </nav>
        </div>

        <div class="wrap-dash">
            <% if @application['status'] == 'Accepted' %>
              <canvas id="canvas"></canvas>
            <% end %> 

            <section id="user-status">
                <div class="row">
                  <div class="inner-wrap">
                      <div id="status-text">Status</div>
                      <div class="box" ><%= @application['status'].blank? ? "Application Received" : @application['status'] %></div>
                  </div>               
                </div>
            </section>
            
          <% if !@rsvp.blank? && @rsvp['attending'] == true %>
            <% if @minor == true %>
              <section class="minor">
                <div class="row">
                  <div class="title-wrap">
                    <h1 class="section-head">Minor Information</h1>
                    <div class="hline"></div>
                  </div>
                  <p id="bus-1">Based on your birthday you'll be under 18 the day of the event. You <strong>must</strong> bring the following forms completed to the event:</p>
                  <ul>
                    <li><a href="https://drive.google.com/file/d/0B070VDH8d-MLSmRHcldsRGQ1TDQ/view?usp=sharing" target="_blank">Media Release Form</a></li>
                    <li><a href="https://drive.google.com/file/d/0B070VDH8d-MLazdlOW93dko3Wk0/view?usp=sharing" target="_blank">Medical Treatment Authorization Form</a></li>
                    <li><a href="https://drive.google.com/file/d/0B070VDH8d-MLVHhoQXJmUDdJNk0/view?usp=sharing" target="_blank">Parent or Guardian Consent Form</a></li>
                  </ul>
                </div>
              </section>
            <% end %>

            <section class="travel">
              <div class="row">
                <div class="title-wrap">
                  <h1 class="section-head">Travel Information</h1>
                  <div class="hline"></div>
                </div>
              <% if @bus_1.blank? || @bus_1 > 0 %>
                <p id="bus-1">UIUC/Purdue bus: <br class="rwd-break"><a target="_blank" href="https://www.eventbrite.com/e/spartahack-2016-university-of-illinois-at-urbana-champaign-purdue-university-bus-tickets-20855252622">Reserve a spot</a> (<%= @bus_1.blank? ? "Many" : @bus_1 %> left)</p>
              <% elsif @bus_1 == 0 && @bus_1_waitlist > 0  %>
                <p id="bus-1">UIUC/Purdue bus: <br class="rwd-break-wait"><a target="_blank" href="https://www.eventbrite.com/e/spartahack-2016-university-of-illinois-at-urbana-champaign-purdue-university-bus-tickets-20855252622">Sign up for the waiting list</a> (<%= @bus_1_waitlist %> left)</p>
              <% else %>
                <s><p id="bus-1">UIUC/Purdue bus: <br class="rwd-break"><a href="">Reserve a spot</a> (<%= @bus_1 %> left)</p></s>
              <% end %>

              <% if @bus_2.blank? || @bus_2 > 0 %>
                <p id="bus-2">Waterloo/Oakland bus: <br class="rwd-break"><a target="_blank" href="https://www.eventbrite.com/e/spartahack-2016-university-of-waterloo-oakland-university-bus-tickets-20868841266">Reserve a spot</a> (<%= @bus_2.blank? ? "Many" : @bus_2  %> left)</p>
              <% elsif @bus_2 == 0 && @bus_2_waitlist > 0  %>
                <p id="bus-2">Waterloo/Oakland bus: <br class="rwd-break-wait"><a target="_blank" href="https://www.eventbrite.com/e/spartahack-2016-university-of-waterloo-oakland-university-bus-tickets-20868841266">Sign up for the waiting list</a> (<%= @bus_2_waitlist %> left)</p>
              <% else %>
                <s><p id="bus-2">Waterloo/Oakland/bus: <br class="rwd-break"><a href="">Reserve a spot</a> (<%= @bus_2 %> left)</p></s>
              <% end %>

              <% if @bus_3.blank? || @bus_3 > 0 %>
                <p id="bus-3">U of M bus: <br class="rwd-break"><a target="_blank" href="https://www.eventbrite.com/e/spartahack-2016-university-of-michigan-bus-tickets-20964181431">Reserve a spot</a> (<%= @bus_3.blank? ? "Many" : @bus_3  %> left)</p>
              <% elsif @bus_3 == 0 && @bus_3_waitlist > 0  %>
                <p id="bus-3">U of M bus: <br class="rwd-break-wait"><a target="_blank" href="https://www.eventbrite.com/e/spartahack-2016-university-of-michigan-bus-tickets-20964181431">Sign up for the waiting list</a> (<%= @bus_3_waitlist %> left)</p>
              <% else %>
                <s><p id="bus-3">U of M bus: <br class="rwd-break"><a href="">Reserve a spot</a> (<%= @bus_3 %> left)</p></s>
              <% end %>

                <table id="cap-table">
                  <colgroup>
                     <col span="1" style="width: 143px;">
                     <col span="1" style="width: 60px;">
                  </colgroup>
                  <tr>
                    <td class="right-align">Individual Travel Cap: </td>
                    <td class="cap">
                      <strong>
                      <% if !@travel.blank? %>
                        $ <%= (@travel["distance"]* 0.10).to_i > 400 ? 400 : (@travel["distance"]* 0.10).to_i %>
                      <% else %>
                        TBD
                      <% end %>
                      </strong>
                    </td> 
                  </tr>
              <% if !@travel.blank? %>    
                <% if @travel["distance"] < 600 && @travel["distance"] > 0 %>
                  <tr>
                    <td class="right-align">Carpool with 1 other: </td>
                    <td class="cap"><strong>$ <%= (@travel["distance"]* 0.20).to_i > 400 ? 400 : (@travel["distance"]* 0.20).to_i %></strong></td> 
                  </tr>
                  <tr>
                    <td class="right-align">2 others: </td>
                    <td class="cap"><strong>$ <%= (@travel["distance"]* 0.25).to_i > 400 ? 400 : (@travel["distance"]* 0.25).to_i %></strong> </td> 
                  </tr>
                  <tr>
                    <td class="right-align">3 others: </td>
                    <td class="cap"><strong>$ <%= (@travel["distance"]* 0.30).to_i > 400 ? 400 : (@travel["distance"]* 0.30).to_i %></strong></td> 
                  </tr>
                <% end %>
              <% end %>
                </table>
                <p class="travel-policy">How to qualify for reimbursment: <a target="_blank" href="https://drive.google.com/file/d/0B070VDH8d-MLN1NOVGxMdTBpcW8/view?usp=sharing">travel policy</a>.</p>
              </div>
            </section>
          <% end %>
            
            <section class="topic-selection">
                <div class="row">
                  <div class="title-wrap">
                    <h1 class="section-head">Topics</h1>
                    <div class="hline"></div>
                  </div>
                  <div id="dash-wrap">
                    <div class="hvr-underline-from-left link-wrap">
                      <a href="/application"><div class="dash-link">My Application</div></a>
                    </div>

                  <% if @application['status'] == 'Accepted'%>
                    <div class="hvr-underline-from-left link-wrap">
                      <a href="/rsvp"><div class="dash-link"><%= @rsvp ? "My RSVP" : "Complete RSVP" %></div></a>
                    </div>
                  <% end %>

                 <% if !@rsvp.blank? && @rsvp['attending'] == true %>
                    <div class="hvr-underline-from-left link-wrap">
                      <a href="/mentorship/register"><div class="dash-link">Mentorship</div></a>
                    </div>
                    <div class="hvr-underline-from-left link-wrap">
                      <a href="/mycode"><div class="dash-link">My Attendee Code</div></a>
                    </div>
                  <% end %>
                  <p>Be sure to join our Facebook <a href="https://www.facebook.com/events/1054594757917115/" target="_blank">event!</a></p>
                </div>


                </div>
            </section>

            
        </div>
        
        <%= render partial: "pages/index_footer" %>

       

        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %>
        <% if @application['status'] == 'Accepted' %>
          <%= javascript_include_tag "confetti" %>
        <% end %> 
        <%= javascript_include_tag "users-dashboard" %>
    </body>
</html>        