<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>SpartaHack</title>
        <meta name="description" content="">
        <!-- <meta property="og:image" content="static/img/logo-supertech.png" /> -->

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "font-awesome.min" %>
        <%= stylesheet_link_tag "users" %>
        
        
        

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="header">
            <div class="navbar-nav left">
                <a href="/" class="anchorLink">
                  <div id="home-nav" class="svg-wrapper active">
                    <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape home" height="60" width="85" />
                      <div class="text">2016</div>
                    </svg>
                  </div>
                </a>

            </div>
            
            <div class="navbar-nav right">
              <div id="sponsor-wrapper">
                <a href="http://bit.ly/1L8UZfr" target="_blank">
                  <div id="sponsor-nav" class="svg-wrapper">
                    <svg height="60" width="120" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape contact" height="60" width="120" />
                      <div class="text">SPONSOR</div>
                    </svg>
                  </div>
                </a>  
              </div>

              <div id="apply-wrapper">
                <a href="/signup">
                  <div id="apply-nav" class="svg-wrapper">
                    <svg height="60" width="95" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape apply" height="60" width="95" />
                      <div class="text">APPLY</div>
                    </svg>
                  </div>
                </a>
              </div>

            </div>


            <nav>
                <ul class="mobile">
                    <li><a href="/" class="anchorLink">HOME</a></li>
                    <li><a href="/signup">APPLY</a></li>
                    <li><a href="http://bit.ly/1L8UZfr" target="_blank">SPONSOR</a></li>  
                </ul>
                <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
            </nav>
        </div>
        <section class="wrap-main">
          <section id="login">
            <div id="logo-wrap">
              <h1 class="section-head title"><%= image_tag "sparathack2016.svg", alt: "SpartaHack", :class => "title-text" %></h1>
              <p id="title-desc">Michigan State University’s official hackathon</p>
              <p id="title-date">February 26-28, 2016</p>
              <p id="title-hashtag">#livebythecode</p>
              <%= image_tag "logo.svg", alt: "SpartaHack", :class => "logo" %>
            </div>

            <h1 class="section-head top">LOG IN</h1> 
            <% if flash[:error] %>
              <div id="error-wrapper">
                <div class="error"><%= flash[:error] %></div>
                <div id="forgot"><a href="/forgot">Forgot Password?</a></div>
              </div>
            <% end %>

            <div class="row">
              <%= form_tag("/auth", method: "post" ) do %>
                <div id="inner">
                  <%= email_field_tag 'email', nil, placeholder: 'EMAIL'%>
                  <%= password_field_tag 'password', nil, placeholder: "PASSWORD"%>
                </div>
                <%= submit_tag "LOG IN", id: "send-message" %>
              <% end %>
            </div>


          </section>
        </section>

        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %>
        <%= javascript_include_tag "index.js" %>
    </body>
</html>        