<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. This is the application to be considered for admittance. " />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />

        <title>SpartaHack</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "select2-modified" %>
        <%= stylesheet_link_tag "users" %>

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="header" class="header">
        <div class="navbar-nav left">
            <a href="/" class="anchorLink">
              <div id="home-nav" class="svg-wrapper active">
                <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape home" height="60" width="85" />
                </svg>
              </div>
              <div class="text">2016</div>
            </a>

        </div>
        
        <div class="navbar-nav right">
        <% if cookies.signed[:spartaUser][1] == "admin" || cookies.signed[:spartaUser][1] == "sponsorship" || cookies.signed[:spartaUser][1] == "statistics" %>
          <div id="app-wrapper">
            <a href="/admin">
              <div id="admin-nav" class="svg-wrapper">
                <svg height="60" width="188" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape mobile-nav" height="60" width="188" />
                </svg>
              </div>
              <div class="text">ADMIN DASHBOARD</div>
            </a>
          </div>
        <% end %>
          <div id="app-wrapper">
            <a href="/dashboard">
              <div id="app-nav" class="svg-wrapper">
                <svg height="60" width="163" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape login" height="60" width="163" />
                </svg>
              </div>
              <div class="text">MY DASHBOARD</div>
            </a>
          </div>  
          <div id="login-wrapper">
            <a href="/logout">
              <div id="login-nav" class="svg-wrapper">
                <svg height="60" width="110" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape login" height="60" width="110" />
                </svg>
              </div>
              <div class="text">LOG OUT</div>
            </a>
          </div>

        </div>


        <nav>
            <ul class="mobile">
                <li><a href="/" class="anchorLink">HOME</a></li>
              <% if cookies.signed[:spartaUser][1] == "admin" || cookies.signed[:spartaUser][1] == "sponsorship" || cookies.signed[:spartaUser][1] == "statistics" %>
                <li><a href="/admin">ADMIN DASHBOARD</a></li>
              <% end %>
                <li><a href="/dashboard">MY DASHBOARD</a></li>
                <li><a href="/logout">LOG OUT</a></li>  
            </ul>
            <div id="pull"><%= image_tag "2016.svg", alt: "2016", :id => "year" %><%= image_tag "menu.svg", alt: "menu", :id => "mobile-menu-img" %></div>
        </nav>
    </div>
    <% if flash[:popup] %>
      <div id="popup-error-wrapper">
        <div id="popup-error">
          <%= "#{flash[:popup]}" %>
          <div id="sub-text"><%= "#{flash[:sub]}" %></div>
        </div>
      </div>
    <% else %>
      <div id="popup-wrapper">
        <div id="popup"></div>
      </div>
    <% end %>
    
    <div class="wrap-main">
      <section id="rsvp" >
        <div class="row">

          <h1 class="section-head">RSVP</h1> 
          <%= form_tag("/rsvp", method: "post", id: "send_rsvp", class: "send_rsvp", :remote => true, :authenticity_token => true, multipart: true) do %>

            <div class="add-margin-top" id="attending-wrap">
              <label id="attending">Will you be attending SpartaHack 2016?</label>
              <div id="radio-wrap">
                  <input type="radio" name="attending" id="yes-attending" value="true" >
                  <label for="yes-attending">Yes</label>                  
                  <input type="radio" name="attending" id="not-attending" value="false" >
                  <label for="not-attending">No</label>
              </div>
            </div>

            <div class="add-margin-top " id="travel-wrap" style="display:none">
              <%= label_tag(:attending, "Which school is closest to where you’ll be traveling from?", class: 'no-label') %>
              <%= render partial: "users/app_university" %>
            </div>            

            <div class="add-margin-top restrictions" id="restrictions-wrap" style="display:none">
              <select id="restrictions" name="restrictions[]" style="display=none;" multiple="true" data-multiple="true">
                <option value="none">None</option>
                <option value="gluten">Gluten Free</option>
                <option value="kosher">Kosher</option>
                <option value="lactose">Lactose intolerant</option>
                <option value="peanuts">Peanut Allergy</option>
                <option value="vegan">Vegan</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="other">Other</option>
              </select>

            </div>

            <div class="add-margin-top other-restriction" style="display:none;">
              <%= label_tag(:otherRestrictions, "Restrictions not listed above? Enter it here.", class: 'no-label') %>
              <%= text_field_tag 'otherRestrictions', "#{@rsvp['otherRestrictions'] if @rsvp}", placeholder: 'List dietary restrictions here...' %>
            </div>            

            <div class="add-margin-top tshirt" id="tshirt-wrap" style="display:none">
              <%= select_tag "tshirt", options_for_select(["","Unisex XS", "Unisex Small", "Unisex Medium", "Unisex Large", "Unisex XL", "Unisex XXL", "Women's XS", "Women's Small", "Women's Medium", "Women's Large", "Women's XL", "Women's XXL",]) %>
            </div>

            <div id="upload-resume-wrap" class="add-margin-top add-margin-bottom" style="display:none">
              
              <div class="thumbnail">         
                <%= image_tag "resume-upload.svg", alt: "Resume Upload", :id => "resume_prev" %>
                <div class="form-group-file">               
                  <%= file_field_tag 'resume', :accept => "application/pdf"%>
                </div>
              </div>  

            </div> 

            <div class="add-margin-top add-margin-bottom" id="citizen-wrap" style="display:none">
                  <input type="radio" name="citizen" id="yes-citizen" value="true" >
                  <label for="yes-citizen">I am a U.S. Citizen or permanent resident (does not include temporary/student visas)</label>               
                  <input type="radio" name="citizen" id="not-citizen" value="false" >
                  <label for="not-citizen">I am NOT a U.S. Citizen or permanent resident</label>
            </div>

            <div id="form-text-wrap" class="add-margin-top" style="display:none">
              <div>
                  <div id='form-text'>
                  </div>
              </div>              
            </div>
            
            <div id="upload-form-wrap" class="add-margin-top" style="display:none">
              <div class="thumbnail">         
                <%= image_tag "w9-upload.svg", alt: "Tax Form Upload", :id => "form_prev" %>
                <div class="form-group-file">               
                  <%= file_field_tag 'taxForm', :accept => "application/pdf" %>
                </div>
              </div> 
            </div>

            <div class="progress add-margin-bottom" id="progress"></div> 

            <div class="hvr-underline-from-center full" id="save-rsvp" style="display:none">
              <%= submit_tag("#{@rsvp ? 'Update RSVP' : 'Submit RSVP'}", :id => "rsvp-submit") %>
            </div>

            <div id="question-progress-wrap" style="display:none;">
              <div class="question" id="q1"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Attending</div>
              <div class="question" id="q2"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Travel</div>
              <div class="question" id="q3"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Dietary Restrictions</div>
              <div class="question" id="q4"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;T-Shirt Size</div>
              <div class="question" id="q5"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Resume</div>
              <div class="question" id="q6"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Citizenship</div>
              <div class="question" id="q7"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Tax Form</div>
              <div class="question" id="qsubmit" style="display:none;"><i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;<%= @rsvp ? "Update" : "Submit" %></div>
            </div> 

          <% end %>    

          
        </div>

        
      </section>

      <%= render partial: "pages/index_footer" %>
    </div>

    <%= javascript_include_tag "progressbar.min" %>
    <%= javascript_include_tag "vivus.min" %>
    <%= javascript_include_tag "jquery-1.11.3.min" %>
    <%= javascript_include_tag "headroom.min" %>
    <%= javascript_include_tag "jquery-headroom" %>
    <%= javascript_include_tag "select2.full.min" %>

    <%= javascript_tag do %>

      var line = new ProgressBar.Line('#progress', {  //progress bar
        color: '#80FFDB'
      });

      <% if @rsvp %>
        <% if @rsvp['attending']%>
          document.getElementById("yes-attending").checked = true;

          $("#university").val("<%= @rsvp['university'] %>").trigger("change");
          $("#restrictions").val(<%= raw @rsvp['restrictions'] %>).trigger("change");
          $("#tshirt").val("<%= @rsvp['tshirt'] %>").trigger("change");
          $('#resume_prev').attr('src', "<%= asset_path('resume-uploaded.svg').to_s %>")
          $('#form_prev').attr('src', "<%= asset_path('taxform-uploaded.svg')%>")

          <% if @rsvp['citizen'] %>
            document.getElementById("yes-citizen").checked = true;
          <% else %>
            document.getElementById("not-citizen").checked = true;
          <% end %>

          $('#question-progress-wrap').show(function() {
            $('#q1').html('<i class="fa fa-check"></i> Attending');
            $('#q2').html('<i class="fa fa-check"></i> Travel');
            $('#q3').html('<i class="fa fa-check"></i> Dietary Restrictions');
            $('#q4').html('<i class="fa fa-check"></i> T-Shirt Size');
            $('#q5').html('<i class="fa fa-check"></i> Resume');
            $('#q6').html('<i class="fa fa-check"></i> Citizenship');
            $('#q7').html('<i class="fa fa-check"></i> Tax Form');
            $("#qsubmit").slideDown('slow');
          });
          $('#travel-wrap').show();
          $('.restrictions').show();

          <% if @rsvp["restrictions"].include? 'other' %>
            $('.other-restriction').show();
          <% end %>

          $("#tshirt-wrap").show();
          $("#citizen-wrap").show();
          $("#upload-resume-wrap").show();

          <% if @rsvp["citizen"] == "true" %>
            $('#form-text').html("In order to issue prizes and travel reimbursement, we must have tax documents \
              on file for each attendee. Please download this <a href='https://www.irs.gov/pub/irs-pdf/fw9.pdf' \
              download='w9-form.pdf'>W9 form</a> and either fill it out digitally OR print, complete, and scan it. \
              Upload the completed document below.");
          <% else %>
            $('#form-text').html("In order to issue prizes and travel reimbursement, we must have tax documents \
              on file for each attendee. Please download this <a href='https://www.irs.gov/pub/irs-pdf/fw8ben.pdf' \
              download='w8-form.pdf'>W8 form</a> and either fill it out digitally OR print, complete, and scan it. \
              Upload the completed document below.");
          <% end %>

          $("#form-text-wrap").show();
          $("#upload-form-wrap").show();
          $("#save-rsvp").fadeIn('slow', function() {
            line.animate(1.0);
          });

          yes_switch = 1;
          university_switch = 1;
          restriction_switch = 1;
          tshirt_switch = 1;
          resume_switch = 1;
          citizen_switch = 1;
          form_switch = 1;
        <% else %>
          document.getElementById("not-attending").checked = true;
          yes_switch = 0 ;
          university_switch = 0;
          restriction_switch = 0;
          tshirt_switch = 0;
          resume_switch = 0;
          citizen_switch = 0;
          form_switch = 0;

          $("#save-rsvp").fadeIn('slow', function() {
            line.animate(1.0);
          });
        <% end %>

      <% else %>
        yes_switch = 0;
        university_switch = 0;
        restriction_switch = 0;
        tshirt_switch = 0;
        resume_switch = 0;
        citizen_switch = 0;
        form_switch = 0;
        $('#question-progress-wrap').show();

      <% end %>
    <% end %>

    <%= javascript_include_tag "users-rsvp" %>  

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70811550-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>  
</html>
