<h1 id="title-text">SPARTAHACK</h1>
<br>
<h2 style="width:60%;font-size:225%;">Check back soon for details on SpartaHack 2016</h2>

<div id="mc_embed_signup">
<form action="//spartahack.us9.list-manage.com/subscribe/post?u=03bbf4682a83a01eb78a6f8ae&amp;id=69e2029eba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll"style="text-align:center">
        <label for="mce-EMAIL">Subscribe to our mailing list</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -4000px;"><input type="text" name="b_03bbf4682a83a01eb78a6f8ae_69e2029eba" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<a href="mailto:sponsor@spartahack.com">SPONSOR</a>
<a href="mailto:hello@spartahack.com">CONTACT US</a>
<!-- <a class="drop-link" href="https://acm1.typeform.com/to/CPKnPT">Volunteer</a><br>
<a class="drop-link" href="/ios">iOS</a>
<a class="drop-link" href="/android">Android</a> -->


</div>

<div class="backdrop">
  <div class="parallax-layer backfog-layer">
    <%= image_tag "backfog.svg", alt: "Island", :class => "backfog" %>
    <%= image_tag "lil_cloud-dark.svg", alt: "Island", :class => "dark-back-cloud" %>
    <%= image_tag "lil_cloud-light.svg", alt: "Island", :class => "light-back-cloud mirrorX" %>
  </div>

  <div class="parallax-layer island-layer">
    <%= image_tag "islandTemple.svg", alt: "Island", :class => "island" %>
  </div>

  <div class="parallax-layer cloud-layer">
    <%= image_tag "cloud_1.svg", alt: "Cloud 1", :class => "cloud1" %>
    <%= image_tag "lil_cloud-light.svg", alt: "Little Light Cloud", :class => "lil-cloud" %>
    <%= image_tag "cloud_2.svg", alt: "Cloud 2", :class => "cloud2" %>
  </div>

  <%= image_tag "faq_cloud.svg", alt: "FAQ Cloud", :class => "faq-head" %>
</div>




