  <h1 id="title-text">SPARTAHACK</h1>
  <h2 class="responsive-text">march 27th - 29th</h2>

  <a href="mailto:sponsor@spartahack.com">SPONSOR</a>
  <a href="mailto:hello@spartahack.com">CONTACT US</a>
  <a class="drop-link" href="https://acm1.typeform.com/to/CPKnPT">Volunteer</a><br>
  <a class="drop-link" href="/ios">iOS</a>
  <a class="drop-link" href="/android">Android</a>

  <a href="#faq" class="anchorLink">
    <i class="fa fa-angle-double-down pulse"></i>
  </a>
  </div>
  <div class="backdrop">
    <div class="parallax-layer backfog-layer">
      <%= image_tag "backfog.svg", alt: "Island", :class => "backfog" %>
      <%= image_tag "lil_cloud-dark.svg", alt: "Island", :class => "dark-back-cloud" %>
      <%= image_tag "lil_cloud-light.svg", alt: "Island", :class => "light-back-cloud mirrorX" %>
    </div>

    <div class="parallax-layer island-layer">
      <%= image_tag "islandTemple.svg", alt: "Island", :class => "island" %>
    </div>

    <div class="parallax-layer cloud-layer">
      <%= image_tag "cloud_1.svg", alt: "Cloud 1", :class => "cloud1" %>
      <%= image_tag "lil_cloud-light.svg", alt: "Little Light Cloud", :class => "lil-cloud" %>
      <%= image_tag "cloud_2.svg", alt: "Cloud 2", :class => "cloud2" %>
    </div>

    <%= image_tag "faq_cloud.svg", alt: "FAQ Cloud", :class => "faq-head" %>
  </div>