<section id="team">
  <div id="wrap">
    <h2 class="section-head">
        OUR TEAM
    </h2>

    <section id="team-wrap">
      <div class="media-grid">
        <% @team.each do |member|  %>
          <article class="team-wrap">
            <a href="<%= member[0] %>" target="_blank">
              <%= image_tag member[1], alt: member[2], :class => "member member-img" %>
            </a>
            <p id="member-name"><%= member[2] %></p>
            <p class="position"><%= member[3] %></p>
          <% if !member[5].blank? %>
            <p class="position second"><%= member[5] %></p>
          <% end %>
          </article>
        <% end %>
      </div>
    </section>
  </div>

</section>
