<section id="sponsors">
  <div id="sponsor-wrap">
    
    <h2 class="section-head">
        SPONSORS
    </h2>


    <section id="gold">
      <div class="media-grid">
        <% @commander.each do |sponsor|  %>
          <article class="gold">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
            </a>  
          </article>
        <% end %>
      </div>
    </section>

    <section id="silver">
      <div class="media-grid">
        <% @warrior.each do |sponsor|  %>
          <article class="silver">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
            </a>
          </article>
        <% end %>
      </div>
    </section>

    <section id="bronze">
      <div class="media-grid">
        <% @trainee.each do |sponsor|  %>
          <article class="bronze">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor sponsor-img" %>
            </a>
          </article>
        <% end %>
      </div>
    </section>

    <section id="sub"> 
      <div class="media-grid">
        <% @partner.each do |sponsor|  %>
          <article class="sub">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1], alt: sponsor[2], :class => "logo-sponsor" %>
            </a>
          </article>
        <% end %>
      </div>
      <h3 id="sponsor-us">Interested in sponsoring? Email us at <a id="sponsor-email" href="mailto:sponsor@spartahack.com">sponsor@spartahack.com.</a></h3>
    </section>

  </div>
</section>