<section id="contact">
  <%= form_tag("/subscribe", method: "post", id: "send_contact") do %>
    <div class="wrap column">  
      <h2 class="section-head">CONTACT</h2> 
      <div class="email-us top"><div class="email-type">EMAIL</div><a href="mailto:hello@spartahack.com"><div class='email'>hello@spartahack.com</div></a></div>
      <div class="email-us tail"><div class="email-type">SPONSOR</div><a href="mailto:sponsor@spartahack.com"><div class='email'>sponsor@spartahack.com</div></a></div> 
      
      <h1 id="mail">VOLUNTEER MAILING LIST SIGNUP</h1>
      <div class="inner">
        <%= label_tag 'fname', 'First Name', class: 'no-label' %>
        <%= text_field_tag 'fname', nil, placeholder: 'FIRST NAME', :required => true%>
        <%= label_tag 'lname', 'Last Name', class: 'no-label' %>
        <%= text_field_tag 'lname', nil, placeholder: 'LAST NAME', :required => true%>                
      </div>
      
      <%= label_tag 'emailinput', 'Email', class: 'no-label' %>
      <%= email_field_tag 'emailinput', nil, placeholder: 'YOUR EMAIL', :required => true, :class => "tail"%>
    
      <div class="hvr-underline-from-center inner" id="submit-wrap">
        <%= submit_tag "SIGN UP TO BE A VOLUNTEER", id: "send-message"%>
      </div>

    </div>
    
  <% end %>
</section>