<section id="sponsors">
  <div id="sponsor-wrap">
    
    <h2 class="section-head">
        SPONSORS
    </h2>


    <section id="gold">
      <div class="media-grid">
        <% @commander.each do |sponsor|  %>
          <article class="gold center">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1].sub('http://', 'https://s3.amazonaws.com/'), alt: sponsor[2], :class => "logo-sponsor" %>
            </a>  
          </article>
        <% end %>
      </div>
    </section>

    <section id="silver">
      <div class="media-grid">
        <% @warrior.each do |sponsor|  %>
          <article class="silver center">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1].sub('http://', 'https://s3.amazonaws.com/'), alt: sponsor[2], :class => "logo-sponsor" %>
            </a>
          </article>
        <% end %>
      </div>
    </section>

    <section id="bronze">
      <div class="media-grid">
        <% @trainee.each do |sponsor|  %>
          <article class="bronze center">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1].sub('http://', 'https://s3.amazonaws.com/'), alt: sponsor[2], :class => "logo-sponsor sponsor-img" %>
            </a>
          </article>
        <% end %>
      </div>
    </section>

    <section id="sub"> 
      <div class="media-grid">
        <% @partner.each do |sponsor|  %>
          <article class="sub center">
            <a href="<%= sponsor[0] %>" target="_blank">
              <%= image_tag sponsor[1].sub('http://', 'https://s3.amazonaws.com/'), alt: sponsor[2], :class => "logo-sponsor" %>
            </a>
          </article>
        <% end %>
      </div>
      <h3 id="sponsor-us">Interested in sponsoring? Email us at <a class="sponsors-link" href="mailto:sponsor@spartahack.com">sponsor@spartahack.com.</a></h3>
      <h3 id="prospectus">Check out our sponsorship <a class="sponsors-link" href="https://drive.google.com/open?id=0B070VDH8d-MLMFYzaHNDb2drUGc"  target="_blank">prospectus</a> and <a class="sponsors-link" href="https://drive.google.com/open?id=0B070VDH8d-MLZXF1OHFOMUUzTzA" target="_blank">tiers.</a></h3>
    </section>

  </div>
</section>