<section id="contact">
  <%= form_tag("/subscribe", method: "post", id: "send_contact") do %>
    <div class="wrap column">  
      <h1 class="section-head tail">CONTACT</h1> 
      <div class="email-us top"><div class="email-type">EMAIL</div><div id='email'>hello@spartahack.com</div></div>
      <div class="email-us tail"><div class="email-type">SPONSOR</div><div id='email'>sponsor@spartahack.com</div></div>   
      <h1 id="mail">MAILING LIST SIGNUP</h1>
      <div id="outer">
        
        <div class="inner">
          <%= label_tag 'fname', 'First Name', class: 'no-label' %>
          <%= text_field_tag 'fname', nil, placeholder: 'FIRST NAME', :required => true%>
          <%= label_tag 'lname', 'Last Name', class: 'no-label' %>
          <%= text_field_tag 'lname', nil, placeholder: 'LAST NAME', :required => true%>                
        </div>

        <%= label_tag 'emailinput', 'Email', class: 'no-label' %>
        <%= email_field_tag 'emailinput', nil, placeholder: 'YOUR EMAIL', :required => true%>
      
        <div class="hvr-sweep-to-right" id="submit-wrap">
          <%= submit_tag "SIGN UP  >", id: "send-message"%>
        </div>



      </div>
    </div>


    
  <% end %>
</section>