<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SpartaHack</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta property="og:image" content="static/img/logo-supertech.png" /> -->

        <%= favicon_link_tag 'favicon.ico' %>
        <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>

        <%= stylesheet_link_tag "site" %>
        
        
        

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="header" class="headroom">
            <div class="navbar-nav left">
                <div id="home-nav" class="svg-wrapper active">
                  <svg height="60" width="85" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape home" height="60" width="85" />
                    <div class="text"><a href="#hero" class="anchorLink">2016</a></div>
                  </svg>
                </div>
                <div id="faq-nav" class="svg-wrapper">
                  <svg height="60" width="80" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="80" />
                    <div class="text"><a href="#faq" class="anchorLink">FAQ</a></div>
                  </svg>
                </div>
                <div id="contact-nav" class="svg-wrapper">
                  <svg height="60" width="120" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape contact" height="60" width="120" />
                    <div class="text"><a href="#contact" class="anchorLink">CONTACT</a></div>
                  </svg>
                </div>
            </div>
            
            <div class="navbar-nav right">
              <div id="sponsor-wrapper">
                  <div id="contact-nav" class="svg-wrapper">
                    <svg height="60" width="120" xmlns="http://www.w3.org/2000/svg">
                      <rect class="shape contact" height="60" width="120" />
                      <div class="text"><a href="http://bit.ly/1L8UZfr" target="_blank">SPONSOR</a></div>
                    </svg>
                  </div>
              </div>
            </div>
        </div>
        <section class="wrap-main">
          <section id="hero">
            <div class="wrap">
              
              <div id="logo-wrap">
                  <%= image_tag "sparathack2016.svg", alt: "SpartaHack", :class => "title-text" %>
                  <p id="title-subtext">February 26-28</p>
                  <%= image_tag "logo.svg", alt: "SpartaHack", :class => "logo" %>
                  <p id="intro">
                      SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. On the weekend of February 26th, we're bringing together 500 students of all skill levels and disciplines to get creative with tech, connect with peers and professionals, and forget the words "I can't."
                      We're excited to see what you will create! <a href="#contact" class="anchorLink">Register for our mailing list</a> to be notified when sign-up opens.
                  </p>
              </div>
          </section>

          <<%= render partial: "pages/index_faq" %>
          <<%= render partial: "pages/index_contact" %>
      
       </section>


        <!-- <= render partial: "pages/index_end" %> -->
        <!--End mc_embed_signup-->

<!--         <footer class="footer">
          <div class="wrap">
            <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by SpartaHack
            &copy;<script>new Date().getFullYear()>document.write(new Date().getFullYear());</script>, Spartan Hackers&nbsp;&nbsp;
            <a href="https://www.facebook.com/spartahackmsu"><i class="fa fa-facebook-square"></i></a>
            <a href="https://twitter.com/spartahack"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/SpartaHack"><i class="fa fa-github"></i></a>
          </div>
        </footer> -->
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.js" %>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.js" %>
        <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/jQuery.headroom.js" %>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js" %>
        <%= javascript_include_tag "index.js" %>
    </body>
</html>
