<!DOCTYPE html>
<html lang="en-us">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Open Graph -->
        <meta property="og:title" content="SpartaHack 2016" />
        <meta property="og:site_name" content="SpartaHack" />
        <meta property="og:url" content="https://www.spartahack.com" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="SpartaHack 2016 is Michigan State University’s second annual student-run hackathon. On the weekend of February 26th, we're bringing together 500 students of all skill levels and disciplines to get creative with tech, and connect with peers and professionals." />
        <meta property="og:image" content="<%=image_url("facebook.png")%>" />




        <title>SpartaHack</title>

        <%= favicon_link_tag 'favicon.png' %>
        <%= stylesheet_link_tag "live" %>




    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>utdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%= render partial: "live/live_navbar" %>
        <canvas id="canvas"></canvas>
        <div class="wrap-main">


          <%= render partial: "live/live_head" %>

       </div>

        <%= javascript_include_tag "jquery-1.11.3.min" %>
        <%= javascript_include_tag "headroom.min" %>
        <%= javascript_include_tag "jquery-headroom" %>
        <%= javascript_include_tag "confetti" %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];
            now = new Date();

            if (days[ now.getDay() ] == "saturday" || days[ now.getDay() ] == "sunday") {
              parentDate = $("#day-schedule-wrap")
              childDay = $("#"+days[ now.getDay() ]+"")
              parentDate.animate({
                scrollTop: $("#day-schedule-wrap").scrollTop() + childDay.position().top - 80 - parentDate.height()/2 + childDay.height()/2
              }, 1000);
            }

            var confetti_count = 0;

            function getTimeRemaining(endtime) {
              var t = Date.parse(endtime) - Date.parse(new Date());
              var seconds = Math.floor((t / 1000) % 60);
              var minutes = Math.floor((t / 1000 / 60) % 60);
              var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
              var days = Math.floor(t / (1000 * 60 * 60 * 24));
              return {
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
              };
            }

            function initializeClock(id, endtime) {
              var clock = document.getElementById(id);
              var daysSpan = clock.querySelector('.days');
              var hoursSpan = clock.querySelector('.hours');
              var minutesSpan = clock.querySelector('.minutes');
              var secondsSpan = clock.querySelector('.seconds');

              function updateClock() {
                var t = getTimeRemaining(endtime);

                var d = new Date();
                var n = d.getTime();

                if ( (n >= 1456675200000) && (confetti_count == 0) ) {
                  StartConfetti();
                  confetti_count = 1;
                  $("#clockdiv p").html("Hacking has ended!");
                  $("#clockdiv div").remove();
                }


                if (t.total > 0) {
                  $("#clockdiv p").attr("style", "");
                }
                if (t.total < 3600*1000) {
                  $("#clockdiv div span").attr("style", "color: #F3464A !important;");
                  $("#clockdiv div.smalltext").attr("style", "color: #F3464A !important;");
                } else {
                  $("#clockdiv div span").attr("style", "");
                  $("#clockdiv div.smalltext").attr("style", "");
                }

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                  clearInterval(timeinterval);
                }
              }

              updateClock();
              var timeinterval = setInterval(updateClock, 1000);
            }

            var deadline = new Date(1456675200000);
            initializeClock('clockdiv', deadline);


          });
        <% end %>

        <%= javascript_include_tag "live.js" %>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-70811550-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
