function modelMatcher (params, data) {
  data.parentText = data.parentText || "";

  // Always return the object if there is nothing to compare
  if ($.trim(params.term) === '') {
    return data;
  }

  // Do a recursive check for options with children
  if (data.children && data.children.length > 0) {
    // Clone the data object if there are children
    // This is required as we modify the object to remove any non-matches
    var match = $.extend(true, {}, data);

    // Check each child of the option
    for (var c = data.children.length - 1; c >= 0; c--) {
      var child = data.children[c];
      child.parentText += data.parentText + " " + data.text;

      var matches = modelMatcher(params, child);

      // If there wasn't a match, remove the object in the array
      if (matches == null) {
        match.children.splice(c, 1);
      }
    }

    // If any children matched, return the new object
    if (match.children.length > 0) {
      return match;
    }

    // If there were no matching children, check just the plain object
    return modelMatcher(params, match);
  }

  // If the typed-in term matches the text of this term, or the text from any
  // parent term, then it's a match.
  var original = (data.parentText + ' ' + data.text).toUpperCase();
  var term = params.term.toUpperCase();


  // Check if the text contains the term
  if (original.indexOf(term) > -1) {
    return data;
  }

  // If it doesn't contain the term, don't return anything
  return null;
}


function createSelects() {
	$('#university').select2({
	  placeholder: "Which school is closest to where you’ll be traveling from?", 
	  allowClear: true,
	  matcher: modelMatcher
	});
	$('#restrictions').select2({
	  placeholder: "Dietary Restrictions",
	  minimumResultsForSearch: -1, 
	  allowClear: true,
	  multiple: true
	});
	$('#tshirt').select2({
	  placeholder: "T-Shirt Size",
	  minimumResultsForSearch: -1, 
	  allowClear: true,
	});

	// hide old selection arrow;
	$('b[role="presentation"]').hide();
	$('.select2-selection__arrow').append('<i class="fa fa-angle-down"></i>');	
	$('.select2-container--open').append('<i class="fa fa-angle-up"></i>');	
}

function popUpTop() {
	$("#popup").css("top", "60px")
	$("#popup").css("bottom", "")
	$("#popup-wrapper").fadeIn("fast");
}

function popUpBottom() {
	$("#popup").css("bottom", "170px");
	$("#popup").css("top", "")
	$("#popup-wrapper").fadeIn("fast");	
}

function toBottom() {
	$('html, body').animate({scrollTop:$(document).height()}, 'slow');
}


function checkProgress() {
	if (line.value() == 1.0) {
		$("#qsubmit").fadeIn('slow');
		$("#save-rsvp").fadeIn('slow');
		toBottom;
	} else {
		$("#qsubmit").fadeOut('slow');
		$("#save-rsvp").fadeOut('slow');
	}
}

function incrementProgress() {
	line.animate(line.value() + 0.125, function() {
		checkProgress();
		createSelects();
	});
	
}

$(document).ready(function() {

	createSelects();
	// window.onbeforeunload = function(){ return 'Your RSVP has not been submitted.' }

	$('#popup-wrapper').click(function(){
		$('#popup-wrapper').fadeOut('fast');
	});

	$('#popup-error-wrapper').click(function(){
		$('#popup-error-wrapper').fadeOut('fast');
	});

	$('#yes-attending').click(function(){
		$('#question-progress-wrap').slideDown('slow');
		$('#q1').html('<i class="fa fa-check"></i> Attending');

		if (yes_switch == 0) {
			yes_switch = 1;

			if (university_switch == 1) {
				$('#travel-wrap').slideDown('slow');
				$('.restrictions').slideDown('slow');
				line.animate(0.250, function() {
					checkProgress();
				});
			} else {
				line.animate(0.125, function() {
					checkProgress();
				});
			}
			if (restriction_switch == 1) {
				$("#tshirt-wrap").slideDown('slow');
				line.animate(0.375, function() {
					checkProgress();
				});
			}
			if (tshirt_switch == 1) {
				$("#upload-resume-wrap").slideDown('slow');
				line.animate(0.500, function() {
					checkProgress();
				});
			}
			if (resume_switch == 1) {
				$("#citizen-wrap").slideDown('slow');
				line.animate(0.750, function() {
					checkProgress();
				});
			}
			if (citizen_switch == 1) {
				$("#form-text-wrap").slideDown('slow');
				$("#upload-form-wrap").slideDown('slow');
				line.animate(0.875, function() {
					checkProgress();
				});
			}
			if (form_switch == 1) {
				line.animate(1.0, function() {
					checkProgress();
				});
			}
		}

		$("#save-rsvp").fadeOut('slow');
		$('#travel-wrap').slideDown('slow');
		
		createSelects();
	})

	$('#not-attending').click(function(){
		yes_switch = 0
		$('#question-progress-wrap').slideUp('slow');
		$('#travel-wrap').slideUp('slow');
		$('.restrictions').slideUp('slow');
		$('.other-restriction').slideUp('slow');
		$("#tshirt-wrap").slideUp('slow');
		$("#citizen-wrap").slideUp('slow');
		$("#upload-resume-wrap").slideUp('slow');
		$("#form-text-wrap").slideUp('slow');
		$("#upload-form-wrap").slideUp('slow');
		$("#save-rsvp").fadeIn('slow', function() {
			toBottom();
			line.animate(1.0);

		});

		createSelects();
	})

	$("#university").change(function(){
		if (!$('#university').val() && university_switch == 1) {
			line.value() > 0.0 ? line.animate(line.value() - 0.125, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
			university_switch = 0;
			$('#q2').html('<i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Travel');
		} else {
			if (university_switch == 0) {
				incrementProgress();
				university_switch = 1;
			}
			$('#q2').html('<i class="fa fa-check"></i> Travel');
			$('.restrictions').slideDown('slow');
		}
	});

	$('#restrictions').on('change', function() {

		if ($('#restrictions').val() && restriction_switch == 0) {
			incrementProgress();
			restriction_switch = 1;
			$('#q3').html('<i class="fa fa-check"></i> Dietary Restrictions');
			$("#tshirt-wrap").slideDown('slow');
		}

	    values = $('#restrictions').val();

	    if (values && values.indexOf("none") > -1) {
	    	$('#restrictions').val(['none']);
	    } else if (values && values.indexOf("other") > -1) {
	    	$('.other-restriction').slideDown({duration:'slow'});
	    } else if (!values && restriction_switch == 1) {
    		restriction_switch = 0;
    		$('#q3').html('<i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Dietary Restrictions');
    		line.value() > 0.0 ? line.animate(line.value() - 0.125, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
	    }

	    if (values && values.indexOf("other") == -1 || !values) {
	    	$('.other-restriction').slideUp("slow", function() {
	    		$('#otherRestrictions').val("");
	    	});
	    }

	});

	$("#tshirt").change(function(){
		if ($('#tshirt').val() && tshirt_switch == 0) {
			incrementProgress();
			tshirt_switch = 1;
			$('#q4').html('<i class="fa fa-check"></i> T-Shirt Size');

			$("#upload-resume-wrap").slideDown('slow');
		}

		if (!$('#tshirt').val() && tshirt_switch == 1) {
    		tshirt_switch = 0;
    		$('#q4').html('<i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;T-Shirt Size');
    		line.value() > 0.0 ? line.animate(line.value() - 0.125, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
		}
	})

	$("#resume").change(function(){
		if (resume_switch == 0 && $('#resume').val()) {
			$('#resume_prev').attr('src', <%= '"' + asset_path('resume-uploaded.svg') + '"' %>)
			line.animate(line.value() + 0.250, function() {
				checkProgress();
			});
			resume_switch = 1;
			$('#q5').html('<i class="fa fa-check"></i> Resume');
			$("#citizen-wrap").slideDown('slow');
		}

		
		if (!$('#resume').val() && resume_switch == 1) {
			$('#resume_prev').attr('src', <%= '"' + asset_path('resume-upload.svg') + '"' %>)
			$('#q5').html('<i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Resume');
			line.value() > 0.0 ? line.animate(line.value() - 0.250, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
			resume_switch = 0;
		}
	})

	$('#yes-citizen').click(function(){
		if (citizen_switch == 0) {
			incrementProgress();
			citizen_switch = 1;
			$('#q6').html('<i class="fa fa-check"></i> Citizenship');
		}

		$("#form-text-wrap").slideUp('slow');
		$("#upload-form-wrap").slideUp('slow', function() {
			if ($('#taxForm').val()) {
				$('#taxForm').replaceWith($('#taxForm').val('').clone(true));	
				line.value() > 0.0 ? line.animate(line.value() - 0.125, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
				form_switch = 0;
			}

			$('#form_prev').attr('src', <%= '"' + asset_path('w9-upload.svg') + '"' %>)
			$('#form-text').html("In order to issue prizes and travel reimbursement, we must have tax documents \
				on file for each attendee. Please download this <a href='https://www.irs.gov/pub/irs-pdf/fw9.pdf' \
				download='w9-form.pdf'>W9 form</a> and either fill it out digitally OR print, complete, and scan it. \
				Upload the completed document below.");
			
			$("#form-text-wrap").slideDown('slow');
			$("#upload-form-wrap").slideDown('slow');
			checkProgress();
		});

	});

	$('#not-citizen').click(function(){
		if (citizen_switch == 0) {
			incrementProgress();
			citizen_switch = 1;
			$('#q6').html('<i class="fa fa-check"></i> Citizenship');
		}


		$("#form-text-wrap").slideUp('slow');
		$("#upload-form-wrap").slideUp('slow', function() {
			if ($('#taxForm').val()) {
				$('#taxForm').replaceWith($('#taxForm').val('').clone(true));	
				line.value() > 0.0 ? line.animate(line.value() - 0.125, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
				form_switch = 0;
			}
			
			$('#form_prev').attr('src', <%= '"' + asset_path('w8-upload.svg') + '"' %>)
			$('#form-text').html("In order to issue prizes and travel reimbursement, we must have tax documents \
				on file for each attendee. Please download this <a href='https://www.irs.gov/pub/irs-pdf/fw8ben.pdf' \
				download='w8-form.pdf'>W8 form</a> and either fill it out digitally OR print, complete, and scan it. \
				Upload the completed document below.");

			$("#form-text-wrap").slideDown('slow');
			$("#upload-form-wrap").slideDown('slow');
			checkProgress();
		});

	})

	$("#taxForm").change(function(){
		if (form_switch == 0 && $('#taxForm').val()) {
			$('#form_prev').attr('src', <%= '"' + asset_path('taxform-uploaded.svg') + '"' %>)
			incrementProgress();
			form_switch = 1;
			$('#q7').html('<i class="fa fa-check"></i> Tax Form');

		}

		if (!$('#taxForm').val() && form_switch == 1) {
			if ($('#yes-citizen').val()) {
				$('#form_prev').attr('src', <%= '"' + asset_path('w9-upload.svg') + '"' %>)
			} else {
				$('#form_prev').attr('src', <%= '"' + asset_path('w8-upload.svg') + '"' %>)
			}

			line.value() > 0.0 ? line.animate(line.value() - 0.125, function(){checkProgress()}) : line.animate(0.0, function(){checkProgress()});
			form_switch = 0;
			$('#q7').html('<i class="fa fa-times" style="color:#690707"></i>&nbsp;&nbsp;Tax Form');
		}
	});

});

$(window).resize(function() {
	createSelects();
});

if ($(window).width() < 775) {
  $("#header").headroom({
    "offset": 205,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
  });
}

$(function() {
    var pull        = $('#pull');
        menu        = $('.mobile');
 
    $(pull).on('click', function(e) {
        e.preventDefault();
        menu.slideToggle();
    });

    $('.mobile li a').on('click', function(e) {
        menu.slideToggle();
    });

});

$(window).scroll(function() {$("#popup-wrapper").fadeOut('fast')});

document.addEventListener("touchmove", ScrollStart, false);
document.addEventListener("scroll", Scroll, false);

function ScrollStart() {
    $("#popup-wrapper").fadeOut('fast');
}

function Scroll() {
	$("#popup-wrapper").fadeOut('fast');
}

function confirmJavascript() {
  $.ajax({
    url: "/javascript/confirm",
    context: document.body
  });
}

confirmJavascript();
setInterval(confirmJavascript, 10000); // invoke each 10 seconds
