<div id="rsvp-stats">
    <div class="row">
        <div class="center">
            <h1 class="">RSVP Stats</h1>
        </div>
    </div>
    <div class="row">
        <h2 class="center"><%= number_to_percentage(100*(@rsvp_attending_count.to_f / @rsvps_total),precision: 1) %></h2>
        <div class="progress">
            <div class="progress-bar" style="width: <%= number_to_percentage(100*(@rsvp_attending_count.to_f / @rsvps_total),precision: 1) %>;"></div>
        </div>
    </div>
    <div class="row">
        <div class="center">
            <p>There are <strong> <%= @rsvp_attending_count %> </strong> attending out of <strong> <%= @rsvps_total %> </strong> RSVPs.</p>
        </div>
    </div>
    <div class="column">
        <article>
            <div>
                <div class="title-wrap">
                  <h1 class="section-head">Gender</h1>
                  <div class="hline"></div>
                </div>
                <div class="horizontal-bar-graph" id="rsvps-gender-graph"></div>
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Gender</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    <% @rsvps["gender_count"].each_with_index do |gender_count, index|  %>
                    <tr>
                        <td><%= gender_count[0] %></td>
                        <td><%= gender_count[1] %> or <%= number_to_percentage(100*(gender_count[1].to_f / @rsvp_attending_count),precision: 1) %></td>
                    </tr>
                    <% end %>
                </tbody>

            </table>
            </div>
        </article>

        <article>
            <div class="title-wrap">
              <h1 class="section-head">Age</h1>
              <div class="hline"></div>
            </div>
            <div id="rsvps-age-graph">
            </div>
            <div class="row">
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                    <thead>
                        <tr>
                            <th>Age</th>
                            <th>Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @rsvps["age_count"].each_with_index do |age_count, index|  %>
                            <% if age_count[0] < 18 %>
                                <tr>
                                    <td class="minorhighlight"><%= age_count[0].to_i %>
                                    </td>
                                    <td class="minorhighlight"><%= age_count[1] %>
                                        or <%= number_to_percentage(100* age_count[1].to_f / @rsvp_attending_count.to_f, precision: 1) %>
                                    </td>
                                </tr>
                            <% else %>
                                <tr>
                                    <td><%= age_count[0].to_i %></td>
                                    <td><%= age_count[1] %>
                                        or <%= number_to_percentage(100* age_count[1].to_f / @rsvp_attending_count.to_f, precision: 1) %>
                                    </td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>

                </table>
                <p class="">
                    There are <strong><%= @rsvps["minor_count"] %> minors</strong>, which make up <strong><%= number_to_percentage(100*@rsvps["minor_count"].to_f / @rsvps["age_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></strong> of attendees.
                    <br>There are <strong><%= @rsvps["adult_count"] %> adults</strong>, which make up <strong><%= number_to_percentage(100*@rsvps["adult_count"].to_f / @rsvps["age_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></strong> of attendees.
                </p>
            </div>
        </article>
    </div>

    <div class="column">
        <article>
            <div class="title-wrap">
              <h1 class="section-head">Universities</h1>
              <div class="hline"></div>
            </div>
            <div class="horizontal-bar-graph" id="rsvps-university-graph"></div>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>University</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    <% @rsvps["uni_applicants"][0..20].each_with_index do |uni_applicants, index|  %>
                    <tr>
                        <td><%= uni_applicants[0] %></td>
                        <td><%= uni_applicants[1] %> or <%= number_to_percentage(100*(uni_applicants[1].to_f / @rsvps["uni_applicants"].inject(0){|sum,e| sum += e[1]}), precision: 1) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="tablefooter">
                *top 20
            </div>
            <p>There are <strong><%= @rsvps["international_count"] %> international students</strong>, which make up <strong><%= number_to_percentage(100*(@rsvps["international_count"].to_f / @rsvps["uni_applicants"].inject(0){|sum,e| sum += e[1]}), precision: 1) %></strong> of RSVPs.</p>

        </article>
        <article>
            <div class="title-wrap">
              <h1 class="section-head">Closest Schools</h1>
              <div class="hline"></div>
            </div>
            <div class="horizontal-bar-graph" id="rsvps-university-graph"></div>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>University</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    <% @rsvps["closest_school"][0..20].each_with_index do |closest_school, index|  %>
                    <tr>
                        <td><%= closest_school[0] %></td>
                        <td><%= closest_school[1] %> or <%= number_to_percentage(100*(closest_school[1].to_f / @rsvp_attending_count), precision: 1) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="tablefooter">
                *top 20
            </div>
        </article>
    </div>

    <div class="row" id="rsvp-majors">
        <div class="title-wrap">
          <h1 class="section-head">Majors</h1>
          <div class="hline"></div>
        </div>
        <div class="horizontal-bar-graph" id="rsvps-major-graph"></div>
        <div class="row">
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Major</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    <% @rsvps["major_count"].each_with_index do |major_count, index|  %>
                    <tr>
                        <td><%= major_count[0] %></td>
                        <td><%= major_count[1] %> or <%= number_to_percentage(100*major_count[1].to_f / @rsvp_attending_count, precision: 1) %></td>
                    </tr>
                    <% end %>
                </tbody>

            </table>
        </div>
    </div>

    
    <div class="column">
        <article>
            <div class="title-wrap">
              <h1 class="section-head">T-Shirt Sizes</h1>
              <div class="hline"></div>
            </div>
            <div class="horizontal-bar-graph" id="rsvps-tshirt-graph"></div>
            <div class="row">
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                    <thead>
                        <tr>
                            <th>Shirt Size</th>
                            <th>Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @rsvps["tshirt_count"].each_with_index do |tshirt_count, index|  %>
                        <tr>
                            <td><%= tshirt_count[0] %></td>
                            <td><%= tshirt_count[1] %> or <%= number_to_percentage(100*tshirt_count[1].to_f / @rsvp_attending_count, precision: 1) %></td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>

                <div class="horizontal-bar-graph" id="rsvps-tshirt-graph"></div>

            </div>
        </article>

        <article>
            <div class="title-wrap">
              <h1 class="section-head">Dietary Restrictions</h1>
              <div class="hline"></div>
            </div>
            <div class="horizontal-bar-graph" id="rsvps-major-graph"></div>
            <div class="row">
                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                    <thead>
                        <tr>
                            <th>Restriction</th>
                            <th>Count</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @rsvps["dietary_restrictions"].each_with_index do |dietary_restriction, index|  %>
                        <tr>
                            <td><%= dietary_restriction[0] %></td>
                            <td><%= dietary_restriction[1] %> or <%= number_to_percentage(100*dietary_restriction[1].to_f / @rsvp_attending_count, precision: 1) %></td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>
                <br>

                <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                    <thead>
                        <tr>
                            <th>Other Restrictions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @rsvps["other_restrictions"].each_with_index do |dietary_restriction, index|  %>
                        <tr>
                            <td><%= dietary_restriction[0] %></td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>
            </div>
        </article>

    </div>

    <div class="title-wrap">
      <h1 class="section-head">Grade Level</h1>
      <div class="hline"></div>
    </div>
    <div class="column">
        <article>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Percent</th>
                    </tr>
                </thead>
                <tbody>
                    <% @rsvps["uni_grade_count"].each_with_index do |uni_grade_count, index|  %>
                        <tr>
                            <td><%= uni_grade_count[0] %></td>
                            <td><%= uni_grade_count[1] %> or <%= number_to_percentage(100*uni_grade_count[1].to_f / @rsvps["uni_grade_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </article>

        <article>
            <div class="horizontal-bar-graph" id="rsvps-grade-graph"></div>
        </article>
    </div>

    <br>

    <div class="title-wrap">
      <h1 class="section-head">Number of Hackathons Attended</h1>
      <div class="hline"></div>
    </div>
    <div class="column">
        <article>
            <table id="my-final-table" class="display dataTable" cellspacing="0" width="98%" role="grid">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Frequency</th>
                    </tr>
                </thead>

                <tbody>
                    <% @rsvps["hackathons_count"].each_with_index do |hackathons_count, index|  %>
                        <tr>
                            <td><%= hackathons_count[0] %></td>
                            <td><%= hackathons_count[1] %> or <%= number_to_percentage(100*hackathons_count[1].to_f / @rsvps["hackathons_count"].inject(0){|sum,e| sum += e[1] }, precision: 1) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <p>The most popular Hackathon was <strong><%= @rsvps["hackathons_attended"][0][0] %></strong>, listed in <strong><%= @rsvps["hackathons_attended"][0][1] %></strong> RSVP'd Applications.</p>
        </article>

        <article>
            <div class="horizontal-bar-graph" id="rsvps-hackathon-graph"></div>
        </article>
    </div>

    <div class="row">
        <br><br><br><br>
        <div class="title-wrap">
          <h1 class="section-head">Random Reasons For Attending</h1>
          <div class="hline"></div>
        </div>
        <div class="column">
            <article>
                <p><%= @rsvps["random_reason"][0][0] %></p>
                <p>-<%= @rsvps["random_reason"][0][1] %> <%= @random_reason[0][2] %></p>
            </article>
            <article>
                <p><%= @rsvps["random_reason"][1][0] %></p>
                <p>-<%= @rsvps["random_reason"][1][1] %> <%= @random_reason[1][2] %></p>
            </article>
        </div>
        <div class="column">
            <article>
                <p><%= @rsvps["random_reason"][2][0] %></p>
                <p>-<%= @rsvps["random_reason"][2][1] %> <%= @random_reason[3][2] %></p>
            </article>
            <article>
                <p><%= @rsvps["random_reason"][3][0] %></p>
                <p>-<%= @rsvps["random_reason"][3][1] %> <%= @random_reason[3][2] %></p>
            </article>
        </div>
    </div>

    <div class="row wordmap">
        <br><br><br><br><br><br><br>
        <div class="center">
            <div id="rsvps-wordcloud" style="width: 100%; height: 600px;"></div>
        </div>
        <br><br><br><br>
    </div>

    <div class="row" id="hide-on-mobile">
        <div class="title-wrap">
          <h1 class="section-head">Daily Number of RSVPs</h1>
          <div class="hline"></div>
        </div>
        <div class="center" id="rsvps-submissions-graph">
        </div>
    </div>
</div>

<!-- Let's load ruby variables into js because Noah likes to live dangerously -->
<%= content_tag :div, class: "rsvps_data_gender_count", data: {temp: @rsvps["gender_count"]} do %>
<% end %>
<%= content_tag :div, class: "rsvps_data_age_count", data: {temp: @rsvps["age_count"]} do %>
<% end %>
<%= content_tag :div, class: "rsvps_data_grade_count", data: {temp: @rsvps["uni_grade_count"]} do %>
<% end %>
<%= content_tag :div, class: "rsvps_data_hackathon_count", data: {temp: @rsvps["hackathons_count"]} do %>
<% end %>
<%= content_tag :div, class: "rsvps_data_common_words", data: {temp: @rsvps["common_words"]} do %>
<% end %>
<%= content_tag :div, class: "rsvps_data_submission_dates", data: {temp: @rsvps["submission_array"]} do %>
<% end %>
<%= content_tag :div, class: "rsvps_data_tshirt_count", data: {temp: @rsvps["tshirt_count"]} do %>
<% end %>


